extends layout

block body
  h2 All items
  if (items.length)
    ul
      each item in items
        li
          h3: a(href='/item/#{item.id}"")= item.firstname
          = item.lastname
  else
    p No items to show

  h2 Create new item
  
  form(action="/create", method="POST")
    p
      label Firstname
      input(type="text", name="firstname")
    p
      label Lastname
      textarea(name="lastname")
    p
      button Submit

