body {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Garuda,sans-serif, Arial, Helvetica, Garuda, sans-serif;
}

.em_logo:hover {
    opacity:0.5;
}

#mainHeaderSignin
{
    position:absolute;
    left:905px;
    width:224px;
    top:0px;
    text-align:left;
}

#mainHeaderSignin li {
    list-style-type:none;
}
#mainHeaderSignin a {
    font-family: Georgia, serif, Times;
	font-size: 18px;
    color: #363636; 
    }

#mainHeaderSignin a, a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

#mainHeaderSignin a:hover {
    color: #2d7ca6;
}

.emtable {
	border-color: black;
	border-width: 1px;
	border-style: solid;
	background-color: #a7cece;
	padding: 25px;
	margin: 30px;
}

a {
	color: blue;
}
#emHeader {
	
}
#emInput {
	float: left;
	width: 33%;
	background-color: #a7c0c0;
}
#emStudents {
	border-color: black;
	border-width: 1px;
	border-style: solid;
	width: 33%;
	float: right;
	background-color: #a0b0b0;
}


#tableResults {
	
}

#emStudents h2 {
	color: red;
}
